<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <img alt="logo" src="~/Content/Images/logo.gif" class="right" />
            <h2><em>Welcome to my Site - Learning is Fun</em></h2>
            @*{Html.RenderPartial("LoginRegister"); }*@
            @RenderPage("LoginRegister.cshtml")
            @RenderSection("Logged",false)
        </header>
        <nav>
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Books", "Index", "Books")
                </li>
                <li>
                    @Html.ActionLink("Courses", "Index", "Courses")
                </li>
                <li>
                    @Html.ActionLink("Quizes", "Index", "Quiz")
                    <ul>
                        <li>@Html.ActionLink("ASP.NET Quiz", "ASPQuiz", "Quiz")</li>
                        <li>@Html.ActionLink("C# Quiz", "CSharpQuiz", "Quiz")</li>
                        <li>@Html.ActionLink("Java Quiz", "JavaQuiz", "Quiz")</li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("About Us", "Index", "About")
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "Index", "Contact")
                </li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>
            <hr />
            &copy;Dublin Business School, @DateTime.Now.Year.
        </footer>
    </div>
</body>
</html>