@using SampleTemplate.Models
@model IEnumerable<Systemreqs>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "System Specs";

}

<h2>System requirements for all of our available titles</h2>
<body>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Processor</th>
                    <th>Memory</th>
                    <th>Storage</th>
                    <th>Video</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Systemreqs req in Model)
                {
                    <tr>
                        <td>@req.Title</td>
                        <td>@req.Processor</td>
                        <td>@req.Memory</td>
                        <td>@req.Storage</td>
                        <td>@req.Video</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
