<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Force Gaming &trade; - One subscription, all the games you can play!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description=" content="For an affordable subscription, download all of the games you can play from all the greatest games developers. New games added constantly so you can binge game and never run out of new titles!"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />

    @*<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/styles.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("/resources/demos/style.css")" type="text/css" />
    <script src="@Url.Content("https://code.jquery.com/jquery-1.12.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("https://code.jquery.com/ui/1.12.1/jquery-ui.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({ minDate: 0 });
        });
    </script>*@
</head>
<body>
    <div id="wrapper">
        <header>
			<img alt="logo" src="~/Content/Images/Force.jpg" class="right" />
            <h2><em>Force Gaming</em></h2>
        </header>
		@* bootstrap.com *@
		
        <nav class="navbar navbar-default -dark bg-dark" >
			<div class="container-fluid">

				<ul class="nav navbar-nav">
					<li class="active">@Html.ActionLink("Home", "Index", "Home")</li>


					<li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Browse Games
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">

							
							<li>@Html.ActionLink("All", "Index", "Games")</li>
							<li>@Html.ActionLink("Action", "Browse", "Games", new { genre = "Action" }, null)</li>  @*, *@
							<li>@Html.ActionLink("RPG", "Browse", "Games", new { genre = "RPG" }, null)</li>
							<li>@Html.ActionLink("Strategy", "Browse", "Games", new { genre = "Strategy" }, null)</li>
						</ul>




					</li>
					<li>@Html.ActionLink("About Us", "Index", "About")</li>
					<li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
					@if (Session["name"] == null)
					{
					@*<li>@Html.ActionLink("Log In", "Index", "SignIn")</li>
					<li>@Html.ActionLink("Register", "Index", "Register")</li>*@
					}
					@if (Session["name"] != null)
					{
						<li>
							@Html.ActionLink("Account Information", "Index", "MemberPage")
						</li>
					}
                    <li>@Html.ActionLink("System Requirements", "Index", "SystemSpec")</li>
				</ul>

				
				@*<form class="form-inline">*@
					@using (Html.BeginForm("Search", "Games", new {@class ="form-inline"}))
					{
						<input type="text" name="Search" id="search" placeholder="Search Games"/>
							@*<input type="submit" value="Search" />*@
					}

				@*</form>*@
			</div>
		</nav>
		

        <main>
            <div class="legibility"></div>  
            @RenderPage("LoginRegister.cshtml")

			@RenderSection("Logged", false)
            @RenderBody()
        </main>
        <footer>
            <hr />

			@*From bootsnip.com*@
			<div class="footer">
				<div class="row">
					<div class="col-lg-12">
						<div class="col-md-3">
							<ul>
                                <li>@Html.ActionLink("About Us", "Index", "About")</li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a href="#">User Agreement</a></li>
								<li><a href="#">Legal</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a href="#">Privacy and Cookie Policy</a></li>
								<li><a href="#">Corporate Information</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a href="#">Terms of Service</a></li>
								<li>&copy; Force Gaming</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </footer>
    </div>
</body>
</html>