@model IEnumerable<SampleTemplate.Models.Game>
@{
    ViewBag.Title = "Index";
}

<h2>Games available for download</h2>
<section>
    <div class="row">
        @foreach (var game in Model)

        {
            <div class="col-sm-3">
                <img src="~/Content/Images/@game.GameImage" alt="@game.Title" />
                <p> @game.Title</p>
                <p> Publisher: @game.Publisher</p>
                <p> Developed by: @game.Developer</p>
                <p> Genre: @game.Genre</p>
		<p>
             @Html.ActionLink("Add to Library", "AddToLibrary", "MemberPage", new { email = Session["email"], gamename = game.Title }, null) 

		</p>                 
            </div>}
    </div>
</section>

