@*Centre-align all the forms*@
@model IEnumerable<SampleTemplate.Models.Feedback>
@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact Us</h2>
<h4>Your feedback to date:</h4>
<section id="feedbacks">
    <div class="feedback" id="feedbackHeader">
        <ol>
            <li>Date Submitted</li>
            <li>Content</li>
            <li>Read</li>
        </ol>
    </div>
    @foreach (var feedback in Model)
    {
        <div class="feedback">
            <ol>
                <li>@feedback.TimeSubmitted</li>
                <li>@feedback.Content</li>
                <li>@feedback.Read.ToString()</li>
            </ol>
        </div>
    }
</section>
<section id="feedbacksubmission">
    <form>
        <h4>Submit New Feedback:</h4>
        <p>Please enter your email address below if you'd like us to get back to you about your feedback:</p>

        <p>
            @Html.Label("Email", "Email")
            @Html.TextBox("Email")
        </p>
        <p>
            @Html.Label("Content", "Content")
            @Html.TextBox("Content")
        </p>

        <input class="formbutton" type="submit" value="Submit Feedback" />
        <input class="formbutton" type="reset" name="resetRegister" onclick="return confirmReset();" value="Reset to Default" />

    </form>
</section>
