@model SampleTemplate.Models.UserModel
@{
    ViewBag.Title = "Login";
}

<h3>Welcome to the Login Page</h3>
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class="error"})
    <p>
        @Html.LabelFor(u => u.Email)
        @Html.TextBoxFor(u => u.Email)
    </p>
    <p>
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password)
    </p>
    <p>
        <input id="Submit1" type="submit" value="Login" />
        <input id="Reset1" type="reset" value="Clear" />
    </p>




}

